@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.auth{
    @apply flex justify-center items-center min-h-screen bg-dark-1 py-8 px-3
}

.searchInput{
    @apply bg-dark-3 h-9 rounded-full px-2 text-white font-light outline-none text-sm w-full
}
.sendInput{
    @apply bg-inherit h-full rounded-full px-2 text-white font-light outline-none text-sm
}
.no-focus {
    @apply focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0 !important;
}
.portal{
    @apply w-screen h-screen absolute top-0 left-0 z-30;
    background-color: rgba(0, 0, 0, 0.279)
}
.sidebar{
    @apply w-[295px] !important
}
.anime{
    transition: 0.5s;
}
.cl-internal-11ewti4{
    @apply w-16 h-16
}

.MuiDialog-paper{
    @apply bg-dark-2 !important
}
@layer utilities{
      
      .account-form_image-input {
        @apply cursor-pointer border-none bg-transparent outline-none text-light-1  !important;
      }
}